# Mongoose Database config
MONGOOSE_URI=

# Authorizing Config
HASH_SALT_ROUNDS=
JWT_SECRET=

# Security - General
CORS_ORIGIN=

# Security - Server TLS Config
HTTPS_SERVER_PRIVATE_KEY=
HTTPS_SERVER_CERTIFICATE=
HTTPS_SERVER_CA=

# Security - Client TLS Config
## Comma-delimited trusted client CA's
HTTPS_TRUSTED_CLIENT_CA_LIST=